body {
    background-image: url(https://image.freepik.com/free-photo/border-made-fast-food-chicken-dishes-wooden-table_23-2148113658.jpg);
    background-size: cover;
}

#wrapper {
    box-shadow: 0 4px 4px 1x rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Open Sans;
    background-color: rgb(170, 236, 14);
    height: auto;
}

header {
    background-color: #0bccee;
    padding-bottom: 20px;
    text-align: center;
}

input[type=text],
input[type=number],
input[type=date] {
    background-color: rgb(255, 188, 111);
    padding: 5px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid rgb(185, 6, 155);
    border-radius: 3px;
    margin-top: 10px;
}

#add-book {
    text-align: center;
}

#search-books input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-books input[type=text]:focus {
    width: 100%;
}

button {
    border-radius: 50px;
    background-color: #f1392c;
    border: none;
    color: #f8fc12;
    text-align: center;
    font-size: 15px;
    padding: 5px 104px;
    position: relative;
    top: 1px;
    cursor: pointer;
    margin: 1px;
    outline: none;
}

button:hover {
    background: #d497b6;
}

#book-list h2 {
    padding-left: 20px;
}

#book-list {
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    border-left: 2px solid #ce096c7d;
    padding: 5px 10px;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
}

.delete {
    background: rgb(230, 11, 194);
    color: rgb(245, 245, 245);
    padding: 1px 10px;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.card {
    width: 40%;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px #eccfff;
}

#add-food {
    display: none;
}